

@media (max-width:1389px) {
    .hero__img__container{
        margin-left: 80px;
        
    }
    .container__login{
        background-color: #000000d7;
        border: 2px double var(--border--secondary);
        

    }

    .container__registro{
        background-color: #000000d7;
        border: 2px double var(--border--secondary);
    }
    @keyframes transformar {
        from {
          background-color: #19231933;
          border-radius: 20%;
          width: 460px;
          margin-left: 80px;
          height: 460px;
          
        }
      
        to {
            transform: scale(1.3);
            background-color: #000000d7;
           
            box-shadow: 1px 1px 80px 61px rgba(0, 0, 0, 0.162);
            transition: all 3s;
            filter: brightness(0.95);
            filter: saturate(0.9);
        }
      }

    #banda{
        
        height: 150vh;
        
        align-items: start;
      
    }
    .cards__container{
        height: 140vh;
        
        justify-content: start;
        margin-top: 90px;
       
    }
 
    .card__block{
        flex-wrap: wrap;
        
        gap: 40px;
        height:120vh;

    }
    .card__text {
        border-radius: 7px;
        width: 258px;
        background-color: #000000d7;
        height: 55vh;
    
    }
    .about__info{
        justify-content: center;
        background-color: transparent;
    }
    .about__btn{
        margin-top: 150px;
    }
    .contacto__container{
       
        gap: 20px;
      
        justify-content: center;
         
    }
    .contacto__map{
        display: none;
    }
    .contacto__form{
        width: 20%;
    }
   



}

@media (max-width:1110px){
    .contacto__form {
        width: 28%;
    }
    
    
}


@media (max-width:909px) {
    .container__header{
       background-color: #cbc8cc3c;
       justify-content: start;
       align-items: center;
       padding-right: 60px;
   
       
    }
    .nav__bar{
        justify-content: start;
        padding-left: 20px;
        
    }
    .menu-label{
        display: flex;
    }
    #menu-toggle:checked + .nav__bar__list{
        display: flex;
      
    }
    .nav__bar ul{
        gap: 6px;
    }
    .nav__bar__list{
        position: absolute;
        top: 86px;
    
        right: 65%;
        min-height: 25vh;
        border-radius: 2.5%;
        width: 35%;
        display: flex;
        justify-content: start;
        flex-direction: column;
        align-items:start;
        padding-left: 30px;
        padding-top: 10px;
        background-color: #cbc8cc3c;
        border-bottom: 2px double var(--border--secondary);
        border-right: 2px double var(--border--secondary); 
        
        display: none;
    }
    .nav__bar__list img{
        display: none;
    }
    .nav__bar__list li:hover{
        font-size: 22px;
        text-shadow: 4px 4px 2px var(--bg--cards);
        cursor: pointer;
        
    }
    /* hero section */
    .hero__container{
        background-color: var(--bg--header);
        border-bottom: 2px double var(--border--secondary);
    }
    .hero__info__container{
        display: none;
    }
    /* card section */
    #banda{
        
        height: 185vh;
       
        align-items: end;
      
    }
    .cards__container{
        height: 170vh;
   
        justify-content: start;
        margin-top: 90px;
       
    }
 
    .card__block{
        flex-wrap: wrap;
        height: 160vh;
        
        gap: 40px;

    }
    .card__text {
        border-radius: 7px;
        width: 258px;
        height: 52vh;
    
    }
    /* section about */
    #about{
        justify-content: center;
        height: 95vh;
    }
    .about__info{

        
        background-color:   #000000d7;
      
        flex-direction: row;
    }
   
    .about__text{
        width: 60%;
        line-height: 38px;
        text-align: center;
        align-items: center;
        order: 0;
        
        
    }
    .about__btn{
        display: none;
        /* margin-top: 200px;
     order: 2;
        justify-content: end;
        background-color: beige; */
    }
    #about video{
        width: 70%;
        height: 40%;

    }
    .contacto__map{
        display: none;
    }
   
    /* section contacto  */
    .contacto__container{
       
        gap: 20px;
      
        justify-content: center;
         
    }
   .contacto__form{
    width: 32%;
   }
   

    

    
}
@media (max-width:945px){
    
    .container__fotos {
      
        grid-template-columns: repeat(2,400px);
        
    }

    .foto__item:nth-child(even),
    .foto__item:nth-child(odd){
        grid-column: auto;
        grid-row: auto;
    }

    .foto__item:nth-child(7){
        grid-column: 1/span 2;
    }
}
@media(max-width: 860px){
    #fotos{
        
        margin: 200px 0;
        height: 200vh;
         background: none;
         background-color: transparent;
        /*position: unset; */
        
    }
    #fotos::before{
       background-color: transparent;
        display: none;
      height: 250vh;
    }
    .container__fotos {
        
        grid-template-columns: repeat(2,300px);
        place-content: center;
        
    }
    .foto__item:nth-child(even),
    .foto__item:nth-child(odd){
        grid-column: auto;
        grid-row: auto;
    }
    .foto__item:nth-child(7){
        grid-column: 1/span 2;
    }


}
@media(max-width: 596px){
    .container__fotos {
      
        grid-template-columns: repeat(280px);
        
    }

    .foto__item:nth-child(even),
    .foto__item:nth-child(odd){
        grid-column: auto;
        grid-row: auto;
    }

    
}


@media(max-width: 576px){
    #banda{
        
        height: 290vh;
        align-items: start;
      
    }
    .cards__container{
        height: 280vh;
        justify-content: start;
        margin-top: 90px;
        
       
    }
    .card__text:hover{
        transform: scale(1.1);
        -webkit-transform: scale(1.1); 
        -moz-transform:scale(1.1);
       
        background-color: #00000086;
        transition: all 0.2s ease-in-out;
        filter:sepia(3.5);
        box-shadow: -1px 66px 50px 6px rgba(0,0,0,0.34);
        
      
    }

    #about{
        height: 80vh;
        flex-wrap: wrap;
     
    }

    .about__info{
        height: 60vh;
        width: 90vw;
        flex-wrap: nowrap;
        background-color: #cbc8cc3c;
        
    }
    .about__text{
        width: 60%;
        
    }
    #about video{
        width: 85%;
        height: 70%;
    }

    .about__btn{
        display: none;
    }
    #contacto{
        display: flex;
        width: 100%;
        
        justify-content: center;
    }
    .contacto__container{
        
        flex-direction: column;
        gap: 10px;
    
        padding-left: 35px;
        justify-content: start;
        align-items:center;
         
    }

    .contacto__info{
        width: 55%;
        
    }

    .contacto__form{
       
        width: 60%;
    }
    #fotos{
        height: 290vh;
    }
    .container__fotos {
        
        grid-template-columns: 400px;
        place-content: center;
        
    }
    .foto__item:nth-child(even),
    .foto__item:nth-child(odd){
        grid-column: auto;
        grid-row: auto;
    }

    @media(max-width: 486px){
        .hero__container{
            background: url(/assets/img/logo/Viernes\ 19-hero.png) center/contain;
        }

        .hero__img__container{
           /* justify-content: end;

           width: 450px; */
           display: none;
        }

        .hero__img__container:hover{
            display: none;
        }
        
        .about__text h4{
           text-align: center;

        }

        .about__info{
            flex-wrap: wrap;
            background-color: #000000d7;
            height: 79vh;
            align-items: start;

        }

        .about__text{
            width: 80%;
            height: 60%;
            align-items: center;
            
        }
        #about video{
            width: 98%;
            height: 42%;
        }

        .contacto__container{
            height: 80vh;
            
            margin-top: 20px;
            padding-top: 30px;
        }
        .contacto__info{
            width: 75%;
            
        }
        .contacto__form{
            width: 85%;
        }
       

    }
    #fotos{
        height: 250vh;
    }
    .container__fotos {
        
        grid-template-columns: 400px;
        place-content: center;
        
    }
    .foto__item:nth-child(even),
    .foto__item:nth-child(odd){
        grid-column: auto;
        grid-row: auto;
    }

    .foto__item:nth-child(7){
        display: none;
    }


}
