@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg--nav: #cdaa39d9;
    --border--secondary:#edb913;
    --bg:#192319;
    --primary:#fff;
    --letter-secondary:rgb(164, 159, 159);
}
body{
    color: var(--primary);
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    height: 250vh;
    /* background: #b48505;
background: linear-gradient(90deg,#b48505 25%, #000000 80%); */
background: var(--bg--nav);
background: radial-gradient(circle farthest-side at top left, #cdaa39d9 18%, #6d6d3d 55%, #192319 80%);
background: -webkit-radial-gradient(circle farthest-side at top left, #cdaa39d9 10%, #6d6d3d 40%, #192319 80%);
background: -moz-radial-gradient(circle farthest-side at top left, #cdaa39d9 10%, #6d6d3d 40%, #192319 80%);

/* background: #d5ce91;
background: radial-gradient(circle farthest-side at top left, #d5ce91 8%, #6d6d3d 40%, #192319 80%);
background: -webkit-radial-gradient(circle farthest-side at top left, #d5ce91 10%, #6d6d3d 40%, #192319 80%);
background: -moz-radial-gradient(circle farthest-side at top left, #d5ce91 10%, #6d6d3d 40%, #192319 80%); */
}
/* nav section */
.container__header{
    width: 100%;
    height: 88px;
    background-color: black;
    border-bottom: 2px double var(--border--secondary);
    display: flex;
    justify-content: center;
    
    z-index: 2;
    top: 0;
    position: sticky;
}

.container__header img{
    width: 140px;
    height: 90px;
}


.nav__bar__list{
    display: flex;
    width: 425px;
    height: 88px;
    justify-content: space-between;
    gap: 24px;
    align-items: center;

    
}

.nav__bar__list li{
    width: 20%;
    list-style: none;
}

.nav__bar__list li:hover{
    font-size: 22px;
    text-shadow: 4px 4px 2px var(--border--secondary);
    cursor: pointer;
    
}

.container__header img:hover{
    cursor: pointer;
    
    
}
/* 
hero section */
.hero__container{
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    gap: 200px;

}

.hero__img__container{
    display: flex;
    justify-content: center;
    width: 580px;
    height: 580px;
   background-color: #19231933;
   margin-top: 100px;
   box-shadow: 1px 1px 30px 61px rgba(0, 0, 0, 0.162);
   border-radius: 60%;
   
   
   
    
}
.hero__img__container:hover{
    transform: scale(1.2) skew(-1deg);
}

.hero__img__container img{
    width: 600px;
   

}

.hero__info__container{
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 5px;
    letter-spacing: 1px;
    padding: 10px;
    
    
}
.hero__info__container h1{
    font-size: 50px;
}

.hero__info__container p{
    color: var(--letter-secondary);
}

.hero__info__container button{
    margin-top: 50px;
    width: 100px;
    background-color: #6d6d3d;
    color: var(--primary);
    font-family: "Bebas Neue", sans-serif; 
    border-radius: 20px;
    padding: 5px 10px;
    
}

.hero__info__container button:hover{
    background-color: var(--bg);
    letter-spacing: 1px;
}

/* card section */

.cards__container{
    background-color: #192319;
    width: 100%;
    height: 500px;
}