@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    color: var(--primary);
}

:root{
    --bg--nav: #cdaa39d9;
    --border--secondary:#edb913;
    --bg:#192319;
    --bg--cards:#19231948;
    --primary:#fff;
    --letter-secondary:rgb(164, 159, 159);
}
body{
    color: var(--primary);
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    background: var(--bg--nav);
    background: radial-gradient(circle farthest-side at top left, #cdaa39d9 18%, #6d6d3d 55%, #192319 80%);
    background: -webkit-radial-gradient(circle farthest-side at top left, #cdaa39d9 10%, #6d6d3d 40%, #192319 80%);
    background: -moz-radial-gradient(circle farthest-side at top left, #cdaa39d9 10%, #6d6d3d 40%, #192319 80%);


}

/* nav section */
.container__header{
    width: 100%;
    height: 88px;
    background-color: black;
    border-bottom: 2px double var(--border--secondary);
    display: flex;
    justify-content: center;
    
    z-index: 2;
    top: 0;
    position: sticky;
}

.container__header img{
    width: 140px;
    height: 90px;
}
.container__header img:hover{
    width: 150px;
    height: 92px;
}
.nav__bar{
    width: 60%;
    display: flex;
    justify-content: center;
    
}

.nav__bar__list{
    display: flex;
    width: 50%;
    height: 88px;
    
    justify-content: space-between;
    gap: 24px;
    align-items: center;

    
}


.nav__bar__list ul li{
    width: 20%;
    
   
}

.nav__bar__list li:hover{
    font-size: 22px;
    text-shadow: 4px 4px 2px var(--border--secondary);
    cursor: pointer;
    
}

.container__header img:hover{
    cursor: pointer;
    
    
}
/* 
hero section */
.hero__container{
    width: 100%;
    height: 880px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 150px;
    gap: 200px;

}

.hero__img__container{
    display: flex;
    justify-content: center;
    width: 580px;
    height: 580px;
   background-color: #19231933;
   margin-top: 100px;
   box-shadow: 1px 1px 30px 61px rgba(0, 0, 0, 0.162);
   border-radius: 60%;
   
   
   
    
}
.hero__img__container:hover{
    transform: scale(1.2) skew(-1deg);
}

.hero__img__container img{
    width: 600px;
   

}

.hero__info__container{
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: end;
    gap: 5px;
    letter-spacing: 1px;
    padding: 10px;
    
    
}
.hero__info__container h1{
    font-size: 50px;
}

.hero__info__container p{
    color: var(--letter-secondary);
}

.hero__info__container button{
    margin-top: 50px;
    width: 100px;
    background-color: #6d6d3d;
    color: var(--primary);
    font-family: "Bebas Neue", sans-serif; 
    border-radius: 20px;
    padding: 5px 10px;
    
}

.hero__info__container button:hover{
    background-color: var(--bg);
    letter-spacing: 1px;
}

/* card section */

#banda{
   
    width: 100%;
    height: 100vh;
  
    display: flex;
    justify-content: center;
    align-items: center;

}
.cards__container{
    width: 98%;
    height: 80vh;
    /* background-color: aliceblue; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
 
}

.cards__container h3{
    font-size: 30px;
    letter-spacing: 1px;
    text-decoration: underline;
}

.card__block{
    display: flex;
    /* background-color: #6d6d3d; */
    justify-content: center;
    align-items: end;
    gap: 10px;
    width: 85%;
    height: 79vh;
}

.card__text img{
    border-radius: 7px;
    width: 220px;
    height: 45vh;
}

.card__text{
    width: 290px;
    height: 65vh;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
   
    background-color: var(--bg--cards);
    border-radius: 8px;
    padding: 10px 28px;
    margin-bottom: 100px;

}
.card__text p{
    width: 250px;
    text-align: center;
}

/* section about */

.about__container{
    /* margin-top: 200px; */
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.about__info{
    display: flex;
    gap: 100px;
    width: 75%;
    height: 50vh;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
}

.about__container video{
    width: 550px;
    height: 400px;
    background-color: #c3971113;
    border-radius: 15px;
    
}
